<div class="entity-container">
  <h3 id="page-heading">
    <span jhiTranslate="alfairouzApp.papSmearSale.home.title">Pap Smear Sales</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [routerLink]="['./new']" class="m-2" color="primary"
            mat-raised-button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_RECEPTION']">
      <mat-icon>add</mat-icon>
      <span jhiTranslate="alfairouzApp.papSmearSale.home.createLabel"> Create a new Pap Smear Sale </span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mr-auto" mat-stroked-button color="primary" (click)="getXslx()">
      <mat-icon>insert_drive_file</mat-icon>
      تقرير
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="papSmearSales?.length === 0">
    <span jhiTranslate="alfairouzApp.papSmearSale.home.notFound">No papSmearSales found</span>
  </div>

  <div *ngIf="papSmearSales && papSmearSales.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3"
       id="entities">
    <table class="col mat-table">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
        <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="dateAt">
          <span jhiTranslate="alfairouzApp.papSmearSale.dateAt">Date At</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="details">
          <span jhiTranslate="alfairouzApp.papSmearSale.details">Details</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="paymentType">
          <span jhiTranslate="alfairouzApp.papSmearSale.paymentType">Payment Type</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="quantity">
          <span jhiTranslate="alfairouzApp.papSmearSale.quantity">Quantity</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="total">
          <span jhiTranslate="alfairouzApp.papSmearSale.total">Total</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="referringCenter.name">
          <span jhiTranslate="alfairouzApp.papSmearSale.referringCenter">Referring Center</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let papSmearSale of papSmearSales; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/pap-smear-sale', papSmearSale.id, 'view']">{{ papSmearSale.id }}</a>
        </td>
        <td>{{ papSmearSale.dateAt | formatMediumDate }}</td>
        <td>{{ papSmearSale.details }}</td>
        <td
          jhiTranslate="{{ 'alfairouzApp.PaymentType.' + papSmearSale.paymentType }}">{{ papSmearSale.paymentType }}</td>
        <td>{{ papSmearSale.quantity }}</td>
        <td>{{ papSmearSale.total }}</td>
        <td>
          <div *ngIf="papSmearSale.referringCenter">
            <a
              [routerLink]="['/referring-center', papSmearSale.referringCenter?.id, 'view']">{{ papSmearSale.referringCenter?.name }}</a>
          </div>
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/pap-smear-sale', papSmearSale.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/pap-smear-sale', papSmearSale.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button type="submit" (click)="delete(papSmearSale)" class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>

