<div class="entity-container">
  <div class="row white-bg">
    <div class="mat-elevation-z1 p-3 round-card col-6">
      <p>التقارير حسب</p>
      <canvas [data]="pieChartData" [labels]="pieChartLabels" baseChart chartType="pie"></canvas>
    </div>

    <div class="mat-elevation-z1 p-3 round-card col-6">
      <p>التقارير حسب</p>
      <canvas
        *ngIf="doughnutChartData && doughnutChartLabels"
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        baseChart
        chartType="doughnut"
      ></canvas>
    </div>
  </div>

  <div class="detail-row align-items-center mt-3">
    <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col-3 white-bg">
      <div class="d-flex flex-column">
        <h3 class="m-0">{{ customerCount }}</h3>
        <p class="m-0">عدد العينات</p>
      </div>
      <mat-icon class="big-icon mr-auto" color="primary">account_circle</mat-icon>
    </div>

    <span class="mx-2"></span>

    <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col-3 white-bg">
      <div class="d-flex flex-column">
        <h3 class="m-0">{{ cardsCount }}</h3>
        <p class="m-0">عدد العينات</p>
      </div>
      <mat-icon class="big-icon mr-auto" color="primary">payment</mat-icon>
    </div>

    <span class="mx-2"></span>
    <div class="mat-elevation-z1 px-4 py-3 d-flex round-card col-3 white-bg">
      <div class="d-flex flex-column">
        <h3 class="m-0">{{ companyCount }}</h3>
        <p class="m-0">عدد العينات</p>
      </div>
      <mat-icon class="big-icon mr-auto" color="primary">business</mat-icon>
    </div>
  </div>
</div>
