<div class="entity-container">
  <div *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_TYPING','ROLE_REFERRING_DOCTOR','ROLE_REFERRING_CENTER']">
<!--    <div class="row white-bg">-->
<!--      <div class="mat-elevation-z1 p-3 round-card col-6">-->
<!--&lt;!&ndash;        <p>التقارير حسب</p>&ndash;&gt;-->
<!--        <canvas hidden [data]="pieChartData" [labels]="pieChartLabels" baseChart chartType="pie"></canvas>-->
<!--      </div>-->

<!--      <div class="mat-elevation-z1 p-3 round-card col-6">-->
<!--        <p class="text-center">العينات حسب الحالة</p>-->
<!--        <canvas-->
<!--          *ngIf="specimenStatusDoughnutChartData && specimenStatusDoughnutChartLabels"-->
<!--          [data]="specimenStatusDoughnutChartData"-->
<!--          [labels]="specimenStatusDoughnutChartLabels"-->
<!--          baseChart-->
<!--          chartType="doughnut"-->
<!--        ></canvas>-->
<!--      </div>-->
<!--    </div>-->

    <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TYPING','ROLE_REFERRING_DOCTOR','ROLE_REFERRING_CENTER']"
         class="detail-row d-flex align-items-center mt-3">

      <div class="mat-elevation-z1 px-4 py-3 d-flex round-card white-bg mx-2 flex-fill">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ specimenCount }}</h3>
          <p class="m-0">عدد العينات</p>
        </div>
        <mat-icon class="big-icon ml-auto" color="primary">payment</mat-icon>
      </div>

      <div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="mat-elevation-z1 px-4 py-3 d-flex round-card white-bg mx-2 flex-fill">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ doctorCount }}</h3>
          <p class="m-0">عدد الاطباء</p>
        </div>
        <mat-icon class="big-icon ml-auto" color="primary">account_circle</mat-icon>
      </div>

      <div *jhiHasAnyAuthority="['ROLE_ADMIN']" class="mat-elevation-z1 px-4 py-3 d-flex round-card white-bg mx-2 flex-fill">
        <div class="d-flex flex-column">
          <h3 class="m-0">{{ referringCenterCount }}</h3>
          <p class="m-0">عدد المراكز</p>
        </div>
        <mat-icon class="big-icon ml-auto" color="primary">business</mat-icon>
      </div>

    </div>
  </div>

</div>
