<div class="entity-container">
  <h3 id="page-heading">
    <span jhiTranslate="alfairouzApp.specimen.home.title">Specimen</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [queryParams]="{ paymentType: 'MONTHLY'}" [routerLink]="['./new']" class="m-2" color="primary"
            mat-raised-button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_RECEPTION']">
      <mat-icon>add</mat-icon>
      <span jhiTranslate="alfairouzApp.specimen.home.createMonthLabel">Create a new Specimen (Monthly)</span>
    </button>
    <button [queryParams]="{ paymentType: 'CASH'}" [routerLink]="['./new']" class="m-2" color="primary"
            mat-raised-button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_RECEPTION']">
      <mat-icon>add</mat-icon>
      <span jhiTranslate="alfairouzApp.specimen.home.createCashLabel">Create a new Specimen (Cash)</span>
    </button>

    <form class="mr-4">
      <mat-form-field appearance="standard" floatLabel="never">
        <button (click)="search(currentSearch)" mat-icon-button matPrefix type="submit">
          <mat-icon>search</mat-icon>
        </button>
        <input [(ngModel)]="currentSearch" matInput name="currentSearch" placeholder="بحث" type="text"/>

        <button (click)="search('')" *ngIf="currentSearch" color="warn" mat-icon-button matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </form>

    <!--    //todo-->

    <!--    //filter by status-->

    <!--    //filter by immune IHC-->

    <!--    // add notes-->

    <mat-form-field appearance="standard">
      <mat-label>Organ</mat-label>
      <mat-select (selectionChange)="filterByOrgan($event.value)">
        <mat-option value="">الكل</mat-option>
        <mat-option *ngFor="let organOption of organs" [value]="organOption.id">{{
            organOption.name
          }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mr-auto" mat-stroked-button color="primary" (click)="getXslx()">
      <mat-icon>insert_drive_file</mat-icon>
      تقرير لكل العينات
    </button>
  </div>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="specimen?.length === 0">
    <span jhiTranslate="alfairouzApp.specimen.home.notFound">No specimen found</span>
  </div>

  <div *ngIf="specimen && specimen.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3"
       id="entities">
    <table class="col mat-table">
      <thead style="font-size: 13px">
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
        <th
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION', 'ROLE_TECHNICIAN','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR', 'ROLE_TYPING', 'ROLE_REVISION']"
          scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="labRefNo"
            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION', 'ROLE_TECHNICIAN','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <span jhiTranslate="alfairouzApp.specimen.labRefNo">Lab Ref No</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="labQr">
          <span jhiTranslate="alfairouzApp.specimen.labQr">Lab Qr</span>
          <fa-icon icon="sort"></fa-icon>
        </th>

        <th scope="col" jhiSortBy="receivingDate">
          <span jhiTranslate="alfairouzApp.specimen.receivingDate">Receive Date</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="samplingDate"
            *jhiHasAnyAuthority="['ROLE_REFERRING_DOCTOR']">
          <span jhiTranslate="alfairouzApp.specimen.samplingDate">Sampling Date</span>
          <fa-icon icon="sort"></fa-icon>
        </th>

        <th scope="col" jhiSortBy="revisionDate"
            *jhiHasAnyAuthority="['ROLE_TYPING', 'ROLE_REVISION']">
          <span jhiTranslate="alfairouzApp.specimen.revisionDate">Revision Date</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="reportDate"
            *jhiHasAnyAuthority="['ROLE_TYPING', 'ROLE_REFERRING_DOCTOR', 'ROLE_REVISION', 'ROLE_REFERRING_CENTER']">
          <span jhiTranslate="alfairouzApp.specimen.reportDate">Report Date</span>
          <fa-icon icon="sort"></fa-icon>
        </th>

        <th scope="col" jhiSortBy="paymentType"
            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <span>Payment</span>
          <fa-icon icon="sort"></fa-icon>
        </th>

        <th scope="col" jhiSortBy="patient.name">
          <span jhiTranslate="alfairouzApp.specimen.patient">Patient</span>
          <fa-icon icon="sort"></fa-icon>
        </th>

        <!--        <th scope="col" jhiSortBy="specimenType.name"-->
        <!--            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_REFERRING_CENTER','ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">-->
        <!--          <span jhiTranslate="alfairouzApp.specimen.specimenType">Specimen Type</span>-->
        <!--          <fa-icon icon="sort"></fa-icon>-->
        <!--        </th>-->
        <th scope="col"
            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_REFERRING_CENTER','ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <span>Type/Size</span>
        </th>

        <th scope="col" jhiSortBy="price"
            *jhiHasAnyAuthority="['ROLE_REFERRING_CENTER']">
          <span jhiTranslate="alfairouzApp.specimen.price">Price</span>
          <fa-icon icon="sort"></fa-icon>
        </th>

        <th scope="col" jhiSortBy="referringCenter.name"
            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TYPING', 'ROLE_REFERRING_DOCTOR', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <span>Ref Center</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="referringDoctor.name"
            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TYPING', 'ROLE_REFERRING_CENTER', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <span>Ref Doc</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="grossingDoctor.name"
            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <span>Gross Doc</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="isWithdrawn"
            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <span>Withdrawn</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="organ.name" *jhiHasAnyAuthority="['ROLE_REFERRING_DOCTOR', 'ROLE_REFERRING_CENTER']">
          <span jhiTranslate="alfairouzApp.specimen.organ">Organ</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="cytology.name"
            *jhiHasAnyAuthority="['ROLE_REFERRING_DOCTOR', 'ROLE_REFERRING_CENTER']">
          <span jhiTranslate="alfairouzApp.specimen.cytology">Cytology</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="biopsy.name"
            *jhiHasAnyAuthority="['ROLE_REFERRING_DOCTOR', 'ROLE_REFERRING_CENTER']">
          <span jhiTranslate="alfairouzApp.specimen.biopsy">Biopsy</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="blocks" *jhiHasAnyAuthority="['ROLE_TECHNICIAN']">
          <span jhiTranslate="alfairouzApp.specimen.blocks">Blocks</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="slides" *jhiHasAnyAuthority="['ROLE_TECHNICIAN']">
          <span jhiTranslate="alfairouzApp.specimen.slides">Slides</span>
          <fa-icon icon="sort"></fa-icon>
        </th>

        <th scope="col" jhiSortBy="specimenStatus">
          <span>Status</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="results">
          <span jhiTranslate="alfairouzApp.specimen.results">Results</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="notes" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION']">
          <span jhiTranslate="alfairouzApp.specimen.notes">Notes</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="printedOut"
            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION','ROLE_PATHOLOGIST_DOCTOR','ROLE_TECHNICIAN', 'ROLE_TYPING']">
          <span jhiTranslate="alfairouzApp.specimen.printedOut">Printed</span>
          <fa-icon icon="sort"></fa-icon>
        </th>

        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr style="font-size: 13px" *ngFor="let specimen of specimen; trackBy: trackId" data-cy="entityTable">
        <td
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION', 'ROLE_TECHNICIAN','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR', 'ROLE_TYPING', 'ROLE_REVISION']">
          <a>{{ specimen.id }}</a>
        </td>
        <td
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION', 'ROLE_TECHNICIAN','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">{{ specimen.labRefNo }}</td>
        <td>{{ specimen.labQr }}</td>
        <td>{{ specimen.receivingDate | formatMediumDate }}</td>
        <td *jhiHasAnyAuthority="['ROLE_REFERRING_DOCTOR']">
          {{ specimen.samplingDate | formatMediumDate }}
        </td>
        <td *jhiHasAnyAuthority="['ROLE_TYPING', 'ROLE_REVISION']">
          {{ specimen.revisionDate | formatMediumDate }}
        </td>
        <td *jhiHasAnyAuthority="['ROLE_TYPING', 'ROLE_REFERRING_DOCTOR', 'ROLE_REVISION', 'ROLE_REFERRING_CENTER']">
          {{ specimen.reportDate | formatMediumDate }}
        </td>
        <td *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
  <span style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 5px;"
        [style.background-color]="getPaymentDotColor(specimen)"
        [matTooltip]="getPaymentTooltip(specimen)"></span>
          <span jhiTranslate="{{ 'alfairouzApp.PaymentType.' + specimen.paymentType }}">{{ specimen.paymentType }}</span>
        </td>
        <td>
          <div *ngIf="specimen.patient">
            <a>{{ specimen.patient?.nameAr }}</a>
          </div>
        </td>
        <td
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_REFERRING_CENTER','ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <div *ngIf="specimen.specimenType">
            <a>{{ specimen.specimenType?.name }}(Type)</a>
          </div>
          <div *ngIf="specimen.size">
            <a>{{ specimen.size?.name }}(Size)</a>
          </div>
        </td>

        <td *jhiHasAnyAuthority="['ROLE_REFERRING_CENTER']">{{ specimen.price }} LYD</td>
        <td
          *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_TYPING', 'ROLE_REFERRING_DOCTOR', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <div *ngIf="specimen.referringCenter">
            <a>{{ specimen.referringCenter?.name }}</a>
          </div>
        </td>
        <td
          *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_TYPING', 'ROLE_REFERRING_CENTER', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <div *ngIf="specimen.referringDoctor">
            <a>{{ specimen.referringDoctor?.name }}</a>
          </div>
        </td>
        <td
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <div *ngIf="specimen.grossingDoctor">
            <a>{{ specimen.grossingDoctor?.name }}</a>
          </div>
        </td>
        <td *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR']">
          <div *ngIf="!specimen.isWithdrawn" matTooltip="موجودة" style="font-size: 30px">
            <mat-icon [inline]="true" class="text-success">check_circle_outline</mat-icon>
          </div>
          <div *ngIf="specimen.isWithdrawn" matTooltip="تم سحبها" style="font-size: 30px">
            <mat-icon [inline]="true" class="text-danger">highlight_off</mat-icon>
          </div>
        </td>
        <td *jhiHasAnyAuthority="['ROLE_REFERRING_DOCTOR', 'ROLE_REFERRING_CENTER']">
          <div *ngIf="specimen.organ">
            <a>{{ specimen.organ?.name }}</a>
          </div>
        </td>
        <td *jhiHasAnyAuthority="['ROLE_REFERRING_DOCTOR', 'ROLE_REFERRING_CENTER']">
          <div *ngIf="specimen.cytology">
            <a>{{ specimen.cytology?.name }}</a>
          </div>
        </td>
        <td *jhiHasAnyAuthority="['ROLE_REFERRING_DOCTOR', 'ROLE_REFERRING_CENTER']">
          <div *ngIf="specimen.biopsy">
            <a>{{ specimen.biopsy?.name }}</a>
          </div>
        </td>
        <td *jhiHasAnyAuthority="['ROLE_TECHNICIAN']">{{ specimen.blocks }}</td>
        <td *jhiHasAnyAuthority="['ROLE_TECHNICIAN']">{{ specimen.slides }}</td>

        <td
          jhiTranslate="{{ 'alfairouzApp.SpecimenStatus.' + specimen.specimenStatus }}">{{ specimen.specimenStatus }}</td>
        <td
          jhiTranslate="{{ 'alfairouzApp.Results.' + specimen.results }}">{{ specimen.results }}</td>

        <td *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION']">
            <span
              matTooltip="{{ specimen.notes }}"
              style="display: block; text-overflow: ellipsis; width: 100px; overflow: hidden; white-space: nowrap"
            >{{ specimen.notes }}</span
            >
        </td>
        <td
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION','ROLE_PATHOLOGIST_DOCTOR','ROLE_TECHNICIAN', 'ROLE_TYPING']">
          <div *ngIf="specimen.printedOut" matTooltip="طبعت" style="font-size: 30px">
            <mat-icon [inline]="true" class="text-success">check_circle_outline</mat-icon>
          </div>
          <div *ngIf="!specimen.printedOut" matTooltip="لم تطبع" style="font-size: 30px">
            <mat-icon [inline]="true" class="text-grey">highlight_off</mat-icon>
          </div>
        </td>
        <td class="text-left">
          <div class="btn-group flex-btn-group-container">
            <mat-menu #appMenu="matMenu">
              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION']"
                [routerLink]="['./', specimen.id, 'view']" mat-menu-item>
                <mat-icon>remove_red_eye</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
              <button [routerLink]="['./', specimen.id, 'edit']"
                      *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR', 'ROLE_TYPING', 'ROLE_REVISION']"
                      mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR', 'ROLE_TYPING', 'ROLE_REVISION']"
                (click)="getPdf(specimen.id)" mat-menu-item>
                <mat-icon>insert_drive_file</mat-icon>
                <span class="d-none d-md-inline">Print Report</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR', 'ROLE_TYPING', 'ROLE_REVISION']"
                (click)="getDataPdf(specimen.id)" mat-menu-item>
                <mat-icon>insert_drive_file</mat-icon>
                <span class="d-none d-md-inline">Print Data Report</span>
              </button>

              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION','ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR', 'ROLE_TYPING', 'ROLE_REVISION']"
                (click)="getStickerPdf(specimen.id)" mat-menu-item>
                <mat-icon>insert_drive_file</mat-icon>
                <span class="d-none d-md-inline">Print Sticker</span>
              </button>
              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_TECHNICIAN', 'ROLE_RECEPTION', 'ROLE_GROSSING_DOCTOR','ROLE_PATHOLOGIST_DOCTOR', 'ROLE_TYPING', 'ROLE_REVISION']"
                (click)="getPdfColored(specimen.id)" mat-menu-item>
                <mat-icon>insert_drive_file</mat-icon>
                <span class="d-none d-md-inline">Print Report Colored</span>
              </button>
              <button
                *jhiHasAnyAuthority="['ROLE_ADMIN']"
                (click)="getDocx(specimen.id)" mat-menu-item>
                <mat-icon>insert_drive_file</mat-icon>
                <span class="d-none d-md-inline">Print Report DOCX</span>
              </button>
              <div *ngIf="specimen.specimenStatus == 'READY' && specimen.notPaid == 0">
                <button
                  *jhiHasAnyAuthority="['ROLE_REFERRING_CENTER',  'ROLE_REFERRING_DOCTOR']"
                  (click)="getPdfColored(specimen.id)" mat-menu-item>
                  <mat-icon>insert_drive_file</mat-icon>
                  <span class="d-none d-md-inline">Print Report Colored</span>
                </button>
              </div>
              <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION']" (click)="getInvoice(specimen.id)"
                      mat-menu-item>
                <mat-icon>insert_drive_file</mat-icon>
                <span class="d-none d-md-inline">Print Invoice</span>
              </button>
              <button (click)="openFileFromUrl(specimen.pdfFileUrl)"
                      mat-menu-item>
                <mat-icon>insert_drive_file</mat-icon>
                <span class="d-none d-md-inline">Archive</span>
              </button>

              <button (click)="delete(specimen)" *jhiHasAnyAuthority="['ROLE_ADMIN']" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
              </mat-menu>

              <button [matMenuTriggerFor]="appMenu" class="mr-2" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
