<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="alfairouzApp.employee.detail.title">Employee</span></h2>

      <hr/>

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt><span jhiTranslate="alfairouzApp.employee.name">Name</span></dt>
        <dd>
          <span>{{ employee.name }}</span>
        </dd>
        <dt><span jhiTranslate="alfairouzApp.employee.jobTitle">Job Title</span></dt>
        <dd>
          <span jhiTranslate="{{ 'alfairouzApp.JobTitle.' + employee.jobTitle }}">{{ employee.jobTitle }}</span>
        </dd>
        <dt><span jhiTranslate="alfairouzApp.employee.salary">Salary</span></dt>
        <dd>
          <span>{{ employee.salary }}</span>
        </dd>
        <dt><span jhiTranslate="alfairouzApp.employee.internalUser">Internal User</span></dt>
        <dd>
          <span>{{ employee.internalUser?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
