<div class="entity-container">
  <h2 id="page-heading" data-cy="DoctorHeading">
    <span jhiTranslate="alfairouzApp.doctor.home.title">Doctors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="alfairouzApp.doctor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-doctor"
        [routerLink]="['/doctor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="alfairouzApp.doctor.home.createLabel"> Create a new Doctor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <!-- Search Section -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name, email, or mobile..."
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()"
        />
        <button class="btn btn-outline-secondary" type="button" (click)="onSearch()">
          <fa-icon icon="search"></fa-icon>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="clearSearch()" *ngIf="searchTerm">
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="doctors?.length === 0">
    <span jhiTranslate="alfairouzApp.doctor.home.notFound">No doctors found</span>
  </div>

  <div *ngIf="doctors && doctors.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <table class="col mat-table">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
        <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="name"><span jhiTranslate="alfairouzApp.doctor.name">Name</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="nameAr">
          <span jhiTranslate="alfairouzApp.doctor.nameAr">Name Ar</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="description">
          <span jhiTranslate="alfairouzApp.doctor.description">Description</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="mobileNo">
          <span jhiTranslate="alfairouzApp.doctor.mobileNo">Mobile No</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="email"><span jhiTranslate="alfairouzApp.doctor.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
        <th scope="col" jhiSortBy="onlineReport">
          <span jhiTranslate="alfairouzApp.doctor.onlineReport">Online Report</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="emailReport">
          <span jhiTranslate="alfairouzApp.doctor.emailReport">Email Report</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="percentage">
          <span jhiTranslate="alfairouzApp.doctor.percentage">Percentage</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="doctorType">
          <span jhiTranslate="alfairouzApp.doctor.doctorType">Doctor Type</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="internalUser.id">
          <span jhiTranslate="alfairouzApp.doctor.internalUser">Internal User</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doctor of doctors; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/doctor', doctor.id, 'view']">{{ doctor.id }}</a>
        </td>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.nameAr }}</td>
        <td>{{ doctor.description }}</td>
        <td>{{ doctor.mobileNo }}</td>
        <td>{{ doctor.email }}</td>
        <td>{{ doctor.onlineReport }}</td>
        <td>{{ doctor.emailReport }}</td>
        <td>{{ doctor.percentage }}</td>
        <td jhiTranslate="{{ 'alfairouzApp.DoctorType.' + doctor.doctorType }}">{{ doctor.doctorType }}</td>
        <td>
          {{ doctor.internalUser?.id }}
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/doctor', doctor.id, 'view']" class="btn btn-info btn-sm" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>

            <button type="submit" (click)="getSpecimenXslx(doctor)" class="btn btn-primary btn-sm" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Report</span>
            </button>

            <button type="submit" [routerLink]="['/doctor', doctor.id, 'edit']" class="btn btn-primary btn-sm" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button type="submit" (click)="delete(doctor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton" *jhiHasAnyAuthority="'ROLE_ADMIN'">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
