<mat-toolbar class="mat-elevation-z align-items-center" color="primary">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon class="white" *ngIf="!sidenav.opened"> menu</mat-icon>
    <mat-icon class="white" *ngIf="sidenav.opened"> close</mat-icon>
  </button>
  <div class="d-flex flex-row p-3 align-items-center" dir="rtl">
    <div class="main-menu-wrapper__logo">
      <a href="/" routerLink="/">
        <img alt="logo" class="img-logo-toolbar" src="../../../content/images/logo.png" />
      </a>
    </div>
    <span class="m-3" jhiTranslate="home.title">مختبر الفيروز</span>
    <span class="fill"></span>
  </div>
  <div class="mr-auto">
    <button *ngIf="languages && languages.length > 1" mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="white">translate</mat-icon>
      <span class="white" jhiTranslate="global.menu.language">اللغات</span>
    </button>
    <mat-menu #menu="matMenu" class="mt-3" overlapTrigger="false">
      <button *ngFor="let language of languages" (click)="changeLanguage(language)" mat-menu-item>
        {{ language | findLanguageFromKey }}
      </button>
    </mat-menu>

    <mat-menu #appMenu="matMenu" class="mt-3" overlapTrigger="false">
      <button mat-menu-item routerLink="/account/password">
        <mat-icon>vpn_key</mat-icon>
        <span>تغيير كلمة المرور</span>
      </button>

      <button mat-menu-item routerLink="/account/settings">
        <mat-icon>person</mat-icon>
        تعديل الملف الشخصي
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>arrow_back</mat-icon>
        خروج
      </button>
    </mat-menu>
    <button *ngIf="!isAuthenticated()" (click)="login()" mat-stroked-button>
      <mat-icon class="white">account_circle</mat-icon>
      دخول
    </button>
    <button *ngIf="isAuthenticated()" [matMenuTriggerFor]="appMenu" class="ml-2" mat-button>
      <span class="white"> مرحباً! {{ getFirstName() }}</span>
      <mat-icon class="white">account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav
    [fixedInViewport]="false"
    [opened]="isAuthenticated()"
    class="mat-elevation-z0"
    dir="ltr"
    mode="side"
    style="background-color: white"
  >
    <mat-nav-list dir="rtl" style="width: 260px">
      <mat-list-item routerLink="dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span jhiTranslate="global.menu.entities.dashboard">الرئيسية</span>
      </mat-list-item>
      <mat-list-item routerLink="specimen">
        <mat-icon mat-list-icon>receipt_long</mat-icon>
        <span jhiTranslate="global.menu.entities.specimen">specimen</span>
      </mat-list-item>

      <div *jhiHasAnyAuthority="['ROLE_RECEPTION']">
        <mat-list-item routerLink="patient">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.patient">patient</span>
        </mat-list-item>
        <mat-list-item routerLink="block-withdraw">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.blockWithdraw">block-withdraw</span>
        </mat-list-item>
        <mat-list-item routerLink="pap-smear-sale">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.papSmearSale">Pap Smear Sale</span>
        </mat-list-item>
        <mat-list-item routerLink="representative-delivery">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.representativeDelivery">representative delivery</span>
        </mat-list-item>
      </div>

      <div *jhiHasAnyAuthority="['ROLE_GROSSING_DOCTOR']">
        <mat-list-item routerLink="biopsy">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.biopsy">biopsy</span>
        </mat-list-item>
        <mat-list-item routerLink="cytology">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.cytology">cytology</span>
        </mat-list-item>
        <mat-list-item routerLink="organ">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.organ">organ</span>
        </mat-list-item>

      </div>

      <div>

        <mat-list-item routerLink="block-withdraw" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.blockWithdraw">block-withdraw</span>
        </mat-list-item>
        <mat-list-item routerLink="biopsy" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.biopsy">biopsy</span>
        </mat-list-item>
        <mat-list-item routerLink="cytology" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.cytology">cytology</span>
        </mat-list-item>
        <mat-list-item routerLink="organ" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.organ">organ</span>
        </mat-list-item>
        <mat-list-item routerLink="doctor" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.doctor">doctor</span>
        </mat-list-item>
        <mat-list-item routerLink="employee" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.employee">employee</span>
        </mat-list-item>
        <mat-list-item routerLink="expense" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_RECEPTION']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.expense">expense</span>
        </mat-list-item>
        <mat-list-item routerLink="extra" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.extra">extra</span>
        </mat-list-item>

        <mat-list-item routerLink="pap-smear-sale" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.papSmearSale">Pap Smear Sale</span>
        </mat-list-item>
        <mat-list-item routerLink="patient" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.patient">patient</span>
        </mat-list-item>
        <mat-list-item routerLink="receipt" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.receipt">receipt</span>
        </mat-list-item>
        <mat-list-item routerLink="referring-center" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.referringCenter">referring center</span>
        </mat-list-item>
        <mat-list-item routerLink="representative-delivery" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.representativeDelivery">representative delivery</span>
        </mat-list-item>
        <mat-list-item routerLink="size" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.size">size</span>
        </mat-list-item>

        <mat-list-item routerLink="specimen-type" *jhiHasAnyAuthority="['ROLE_ADMIN']">
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <span jhiTranslate="global.menu.entities.specimenType">specimen type</span>
        </mat-list-item>

        <mat-divider class="mx-2 light-gray"></mat-divider>


        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header class="light-gray">
            <mat-panel-title
              *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_REFERRING_DOCTOR','ROLE_REFERRING_CENTER', 'ROLE_RECEPTION']">
              <mat-icon class="ml-2">receipt_long</mat-icon>
              التقارير
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list-item routerLink="reports">
            <span>التقارير</span>
          </mat-list-item>
        </mat-expansion-panel>
      </div>

      <mat-expansion-panel *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mat-elevation-z0">
        <mat-expansion-panel-header class="light-gray">
          <mat-panel-title>
            <mat-icon class="ml-2">developer_board</mat-icon>
            مدير النظام
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list-item routerLink="admin/user-management">
          <span>إدارة المستخدمين</span>
        </mat-list-item>

        <mat-list-item routerLink="admin/audits">
          <span>سجلات الدخول</span>
        </mat-list-item>

        <mat-list-item routerLink="admin/health">
          <span>صحة النظام</span>
        </mat-list-item>

        <mat-list-item routerLink="admin/metrics">
          <span>مؤشرات</span>
        </mat-list-item>

        <mat-list-item routerLink="admin/configuration">
          <span>الاعدادات</span>
        </mat-list-item>

        <mat-list-item routerLink="admin/logs">
          <span>سجل الاخطاء</span>
        </mat-list-item>

        <mat-list-item routerLink="admin/docs">
          <span>API</span>
        </mat-list-item>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>

      <br>
      <jhi-footer></jhi-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
