<div class="entity-container">
  <div>
    <h2>Privacy Policy for Alfairouz Lab Specimen Inquiry App</h2>
    <p>Effective date: 13-04-2024</p>
    <p>Our Lab Specimen Inquiry App respects and protects the privacy of its users. This Privacy Policy outlines how we
      collect, use, disclose, and store information when you use our app.</p>

    <h3>Information Collection and Use:</h3>
    <ul>
      <li>We do not collect any personal information or user data through our app.</li>
      <li>The app may collect non-personal information such as device information (e.g., device model, operating system
        version) for analytical purposes only.
      </li>
    </ul>

    <h3>Third-party Services:</h3>
    <p>Our app may use third-party services, such as analytics tools, for the purpose of improving user experience.
      These services may collect non-personal information as outlined in their respective privacy policies.</p>

    <h3>Data Security:</h3>
    <ul>
      <li>We implement industry-standard security measures to protect any data collected by the app.</li>
      <li>We do not store or transmit any personal information or user data.</li>
    </ul>

    <h3>Changes to This Privacy Policy:</h3>
    <p>We reserve the right to update our Privacy Policy at any time. Any changes will be effective immediately upon
      posting the updated policy in the app.</p>

    <h3>Contact Us:</h3>
    <p>If you have any questions or concerns about our Privacy Policy, please contact us at info@alfairouz.ly.</p>

    <p>By using our Lab Specimen Inquiry App, you agree to the terms outlined in this Privacy Policy.</p>
  </div>
</div>
