<div class="entity-container">
  <h3 id="page-heading">
    <span jhiTranslate="alfairouzApp.expense.home.title">Expenses</span>
  </h3>
  <div class="mt-1 ml-1 d-flex align-items-center">
    <button [routerLink]="['./new']" class="m-2" color="primary"
            mat-raised-button *jhiHasAnyAuthority="['ROLE_ADMIN','ROLE_RECEPTION']">
      <mat-icon>add</mat-icon>
      <span jhiTranslate="alfairouzApp.expense.home.createLabel"> Create a new Expense </span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="mr-auto" mat-stroked-button color="primary" (click)="getXslx()">
      <mat-icon>insert_drive_file</mat-icon>
      تقرير
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="expenses?.length === 0">
    <span jhiTranslate="alfairouzApp.expense.home.notFound">No expenses found</span>
  </div>

  <div *ngIf="expenses && expenses.length > 0; else emptyContent" class="col-12 p-0 mat-elevation-z1 mt-3"
       id="entities">
    <table class="col mat-table">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
        <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="dateAt">
          <span jhiTranslate="alfairouzApp.expense.dateAt">Date At</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="details">
          <span jhiTranslate="alfairouzApp.expense.details">Details</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="amount">
            <span jhiTranslate="alfairouzApp.expense.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="expenseType">
            <span jhiTranslate="alfairouzApp.expense.expenseType">Expense Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="employee.name">
            <span jhiTranslate="alfairouzApp.expense.employee">Employee</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/expense', expense.id, 'view']">{{ expense.id }}</a>
          </td>
          <td>{{ expense.dateAt | formatMediumDate }}</td>
          <td>{{ expense.details }}</td>
          <td>{{ expense.amount }}</td>
          <td jhiTranslate="{{ 'alfairouzApp.ExpenseType.' + expense.expenseType }}">{{ expense.expenseType }}</td>
          <td>
            <div *ngIf="expense.employee">
              <a [routerLink]="['/employee', expense.employee?.id, 'view']">{{ expense.employee?.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/expense', expense.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/expense', expense.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(expense)" class="btn btn-danger btn-sm"
                      data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>

