<div class="entity-container">
  <h2 id="page-heading" data-cy="ReferringCenterHeading">
    <span jhiTranslate="alfairouzApp.referringCenter.home.title">Referring Centers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="alfairouzApp.referringCenter.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-referring-center"
        [routerLink]="['/referring-center/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="alfairouzApp.referringCenter.home.createLabel"> Create a new Referring Center </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <!-- Search Section -->
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name, email, or mobile..."
          [(ngModel)]="searchTerm"
          (keyup.enter)="onSearch()"
        />
        <button class="btn btn-outline-secondary" type="button" (click)="onSearch()">
          <fa-icon icon="search"></fa-icon>
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="clearSearch()" *ngIf="searchTerm">
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="referringCenters?.length === 0">
    <span jhiTranslate="alfairouzApp.referringCenter.home.notFound">No referringCenters found</span>
  </div>

  <div *ngIf="referringCenters && referringCenters.length > 0; else emptyContent"
       class="col-12 p-0 mat-elevation-z1 mt-3" id="entities">
    <!-- Rest of the table remains the same -->
    <table class="col mat-table">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
        <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="name">
          <span jhiTranslate="alfairouzApp.referringCenter.name">Name</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="nameAr">
          <span jhiTranslate="alfairouzApp.referringCenter.nameAr">Name Ar</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="mobileNumber">
          <span jhiTranslate="alfairouzApp.referringCenter.mobileNumber">Mobile Number</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="email">
          <span jhiTranslate="alfairouzApp.referringCenter.email">Email</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="onlineReport">
          <span jhiTranslate="alfairouzApp.referringCenter.onlineReport">Online Report</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="contractType">
          <span jhiTranslate="alfairouzApp.referringCenter.contractType">Contract Type</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="discount">
          <span jhiTranslate="alfairouzApp.referringCenter.discount">Discount</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="internalUser.id">
          <span jhiTranslate="alfairouzApp.referringCenter.internalUser">Internal User</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let referringCenter of referringCenters; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/referring-center', referringCenter.id, 'view']">{{ referringCenter.id }}</a>
        </td>
        <td>{{ referringCenter.name }}</td>
        <td>{{ referringCenter.nameAr }}</td>
        <td>{{ referringCenter.mobileNumber }}</td>
        <td>{{ referringCenter.email }}</td>
        <td>{{ referringCenter.onlineReport }}</td>
        <td jhiTranslate="{{ 'alfairouzApp.ContractType.' + referringCenter.contractType }}">{{ referringCenter.contractType }}</td>
        <td>{{ referringCenter.discount }}</td>
        <td>
          {{ referringCenter.internalUser?.id }}
        </td>
        <td class="text-end">
          <div class="btn-group">
            <button
              type="submit"
              [routerLink]="['/referring-center', referringCenter.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>

            <button type="submit" (click)="getSpecimenXslx(referringCenter.id)" class="btn btn-primary btn-sm"
                    data-cy="entityEditButton">
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline">Report</span>
            </button>

            <button
              type="submit"
              [routerLink]="['/referring-center', referringCenter.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button type="submit" (click)="delete(referringCenter)" class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton">
              <fa-icon icon="times"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="col white-b">
      <mat-divider></mat-divider>
      <mat-paginator
        (page)="loadPage($event.pageIndex)"
        [length]="totalItems"
        [pageIndex]="page"
        [pageSize]="itemsPerPage"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <ng-template #emptyContent>
    <jhi-empty-content [isLoading]="isLoading"></jhi-empty-content>
  </ng-template>
</div>
