<div class="entity-container">
  <div class="mat-elevation-z1 round-card white-bg p-4 mt-5">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-patient-heading" data-cy="PatientCreateUpdateHeading"
          jhiTranslate="alfairouzApp.patient.home.createOrEditLabel">
        Create or edit a Patient
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.nameAr" for="field_nameAr">Name Ar</label>
          <input type="text" class="form-control" name="nameAr" id="field_nameAr" data-cy="nameAr" formControlName="nameAr" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.birthDate" for="field_birthDate">Birth Date</label>
          <div class="input-group">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="text"
              class="form-control"
              name="birthDate"
              ngbDatepicker
              #birthDateDp="ngbDatepicker"
              formControlName="birthDate"
            />
            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.gender" for="field_gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'alfairouzApp.Gender.null' | translate }}</option>
            <option *ngFor="let gender of genderValues" [value]="gender">{{ 'alfairouzApp.Gender.' + gender | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.mobileNumber" for="field_mobileNumber">Mobile Number</label>
          <input
            type="text"
            class="form-control"
            name="mobileNumber"
            id="field_mobileNumber"
            data-cy="mobileNumber"
            formControlName="mobileNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.nationality" for="field_nationality">Nationality</label>
          <input
            type="text"
            class="form-control"
            name="nationality"
            id="field_nationality"
            data-cy="nationality"
            formControlName="nationality"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.motherName" for="field_motherName">Mother Name</label>
          <input
            type="text"
            class="form-control"
            name="motherName"
            id="field_motherName"
            data-cy="motherName"
            formControlName="motherName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="alfairouzApp.patient.notes" for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
